.aplayer.aplayer-fixed .aplayer-lrc {
    display:block;
    position:fixed;
    bottom:10px;
    left:0;
    right:0;
    margin:0;
    z-index:98;
    pointer-events:none;
    /*! text-shadow:-1px -1px 0 #fff; *//*! font-size: 20pt; */
}

.aplayer .aplayer-lrc p.aplayer-lrc-current {
    opacity:1;
    overflow:visible;
    height:auto!important;
    min-height:16px;
    color: red;
    font-size: 12pt;
}